DATABASE_URL="postgresql://postgres.user:password@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.user:password@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="your_jwt_secret"
JWT_EXPIRATION="7d"
PORT=3001

REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_USERNAME=""
REDIS_PASSWORD=""
REDIS_TLS="false"

WEBHOOK_VERIFY_TOKEN="your_verify_token"

# On OCI, this should include your Vercel frontend URL
CORS_ORIGINS="http://localhost:3000,https://whatshub-frontend2.vercel.app,https://whatshub.salescope.software"

META_API_VERSION="v18.0"
